<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piedra, Papel o Tijera</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    
    <div class="contenedor">
        <h1>Piedra, papel o tijera</h1>

        <div id="resultado">
        
            <i class="fas fa-hand-rock" id="machine-img"></i>
            <h4>Máquina</h4>
            <p id="texto-inicio">Elige una opción</p>
            <div class="tu">
                <i class="fas fa-hand-rock" id="user-img"></i>
                <h4>Tú</h4>
            </div>
        </div>

        <div id="botones">
            <button id="rock" type="button">
                <i class="fas fa-hand-rock"></i>
            </button>
            <button id="paper" type="button">
                <i class="fas fa-hand-paper"></i>
            </button>
            <button id="scissors" type="button">
                <i class="fas fa-hand-scissors"></i>
            </button>
        </div>

        <footer>by Lea Larrama</footer>

<script src="index.js"></script>
</body>
</html>